@using CV_Webbutveckling.Models

@{
    var omMig = MittCV.OmMig[0];
}
<center>
    <div>
        <br />
        <h1>Om Mig</h1>
        <h5>@omMig</h5>
        <br />
        <img src="~/lib/bootstrap/dist/css/Profil_Bild.png" alt="Mohammed Sheikha">
        <center>Mohammad Sheikha</center>
    </div>
</center>
