@using CV_Webbutveckling.Models

@{
    var personligtbrev  = MittCV.personligtBrev[0];
}

@{
    <div>
        <br />
        <center>
            <h1>Personligt Brev</h1>
        </center>
        <br />
        <center>
        <h5>@personligtbrev</h5>
        </center>
    </div>
}