@using CV_Webbutveckling.Models

@{
    var utbildning  = MittCV.Utbildning[0];
}

@{
    <div>
        <br />
        <center>
            <h1>Utbildning</h1>
        </center>
        <center>
        <h5>@utbildning</h5>
        </center>
    </div>
}